name: Python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]



jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    

    - name: Install dependencies
      run: |
        #!bin/bash

        docker build -t fastapi-crud-sqlite .
      shell: bash

    

    